<!-- About Section -->
<section id="about">

<div class="container">
  <div class="row">
    <div class="col-sm-6" align="center">
      <br/>
      <img class="center" src="img/about/me_circle.png" alt="" style="width: 20vw; min-width: 330px;"/>
    </div>
    <div class="col-sm-6" align="center">
      <p align="justify"><br>
        I am a PhD student researching line formation  
        in Tidal Disruption Events using Monte Carlo radiative transfer
        and ionization simulation, modelling their ionized outflows in. I am
        conducting my research at the University of Southampton under the
        supervsion of Christian Knigge. At Southampton, I'm part of the
        Computational Modelling Group and the Next Generation Computational 
        Modelling Centre for Doctoral Training (NGCM-CDT). I completed my 
        integrated masters in physics at the University of Kent, finishing
        first class with honours. For my bachelor's disseration, I
        created a simple script to search for High Proper Motion stars in the
        UKIDSS-GPS and UWISH2 survey data. My masters thesis focused on 
        inviscid hydrodynamics simulations of extragalactic jets using PLUTO. 
        <br><br>
        During the course of my PhD, I have attended both national and 
        international workshops and conferences, sharing my work with the
        wider astronomy community. With the NGCM, I have had the opportunity
        to work with world-leading HPC facilities using, and training in, a 
        wide range of programming languages and parallelisation/HPC frameworks,
        such as, but not limited to, CUDA, OpenMP and MPI.
      </p>
      <p align="justify"><br>
        I can be contacted at <a href="mailto:e.j.parkinson@soton.ac.uk">e.j.parkinson@soton.ac.uk</a> 
        or <a href="mailto:saultyevil@gmail.com">saultyevil@gmail.com</a>. 
      </p> <br/>
    </div>
  </div>
</div>
</section>
