<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <br/>
          <img class="center" src="img/about/me_circle.png" alt="it's me">
          <p><br>
            I am currently a PhD student researching line formation in 
            outflows in Tidal Disruption Events using Monte Carlo radiative
            transfer and ionization simulations. I currently attend the
            University of Southampton and am supervised by Christian Knigge and
            are part of the Next Generation Computational Modelling Centre for 
            Doctoral Training (NGCM-CDT) at Southampton. During my PhD, and as 
            part of the NGCM, worked with world-class HPC facilities using a range
            of programming languages and parallelisation/HPC frameworks, such
            as, but not limited to, CUDA, OpenMP and MPI. I have also attended
            multiple workshops on modern programming techniques and international
            astronomy conferences, where I have presented my work to the community.
          </p>
          <p>
            I can be contacted at <a href="mailto:e.j.parkinson@soton.ac.uk">e.j.parkinson@soton.ac.uk</a> 
            or at <a href="mailto:saultyevil@gmail.com">saultyevil@gmail.com</a>. 
          </p>
          <br/>
        </div>
    </div>
</section>
