<!-- About Section -->
<section id="about">

<div class="container">
  <br>
  <div class="row vertical-align">
    <div class="col-md-4" align="center">
      <img src="img/about/me_circle.png" alt="it's me" style="width: 20vw; min-width: 330px;"/>
    </div>
    <div class="col-md-8" align="center">
      <p align="justify" style="font-size: 18px;font-weight: 400;"><br>
        I am a PhD student researching optical and UV line formation  
        in Tidal Disruption Events, using the Monte Carlo radiative transfer
        and ionization code PYTHON to to model the ionized outflows of TDEs. I'm
        currently at the Department of Physics and Astrophysics at the University
        of Southampton under the supervsion of Christian Knigge. At Southampton, 
        I'm also part of the Computational Modelling Group and the Next Generational
        Computational Modelling Centre for Doctoral Training (NGCM-CDT). I completed
        my integrated masters in physics with astrophysics at the University of
        Kent, finishing with first class with honours. For my bachelor's disseration,
        I created a script to search for High Proper Motion stars and Brown Dwarfs 
        in the UKIDSS-GPS and UWISH2 survey data. My masters thesis, on the other hand,
        was more theoretically focused on where I conducted hydrodynamics simulations
        of extragalactic jets using the astrophysical fluid dynamics code PLUTO. 
        <br><br>
        During the course of my PhD, I have attended both national and 
        international workshops and conferences, sharing my work with the
        wider astronomy community. With the NGCM, I have had the opportunity
        to work with world-leading HPC facilities using, and training in, a 
        wide range of programming languages and parallelisation/HPC frameworks,
        such as, but not limited to, CUDA, OpenMP and MPI.
        <br><br>
        I can be contacted at <a href="mailto:e.j.parkinson@soton.ac.uk">e.j.parkinson@soton.ac.uk</a> 
        or <a href="mailto:saultyevil@gmail.com">saultyevil@gmail.com</a>. 
      </p><br/>
    </div>
  </div>
</div>
</section>
