<!-- Footer -->
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="#home" class="page-scroll">Home</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#about" class="page-scroll">About</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#projects" class="page-scroll">Projects</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#publications" class="page-scroll">Publications</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#contact" class="page-scroll">Contact</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">{{ site.copyright }}</p>
            </div>
            <div class="col-md-4">
                {{ site.credits }}
            </div>
        </div>
    </div>
</footer>
