<section id="home">
	<div class="intro-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="intro-message">
						<h1>{{ page.title }}</h1>
						<h2>{{ page.subTitle }}</h2>
						<hr class="intro-divider">
						<ul class="list-inline intro-social-buttons">
							<li class="list-inline-item">
									<a href="mailto://e.j.parkinson@soton.ac.uk" class="btn btn-dark">EMAIL</a>
							</li>
							{% for social in site.social %}
							<li class="list-inline-item">
								<a href="{{ social.url }}" class="btn btn-dark"><i class="fa fa-{{ social.title }} fa-fw"></i> <span class="network-name">{{ social.title }}</span></a>
							</li>
							{% endfor %}
							<li class="list-inline-item">
								<a href="../edward_parkinson_cv_original.pdf" class="btn btn-dark">CV</a>
							</li>
						</ul>
						<!-- <hr class="intro-divider"> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
