<nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand page-scroll" href="#home">{{ site.title }}</a>
        <button class="navbar-toggler collapsed " type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">About</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="/programming">Programming</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="/research">Research</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
