<!-- Projects -->
<section id="projects">
    <!-- Projects header -->
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <!-- <hr class="section-heading-spacer"> -->
                <div class="clearfix"></div>
                <h2 class="section-heading">Projects</h2>
                <p style="font-size: 18px;font-weight: 400;">
                    Shown below are a small sample of programs
                    and scripts I have created for data visualization and analysis,
                    as well as small toy models to demonstrate some physics.
                    <br><br>
                    The rest of my projects are found on <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="drawing" width="28"/>
                    <a href="https://github.com/saultyevil">GitHub</a>.
                </p>
            </div>
        </div>
    </div>
    <!-- Projects content -->
    {% for post in site.posts reversed %}
        {% if post.category == 'projects' %}
        <div class="content-section-b">
            <div class="container">
                <div class="row">
                    <!-- <hr class="section-heading-spacer"> -->
                    <div class="clearfix"></div>
                    <!-- <h2 class="section-heading">{{ post.title }}</h2> -->
                    <div class="lead">{{ post.content }}</div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</section>

<!-- Publications -->
<section id="publications">
    <!-- Pubcliations header -->
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <!-- <hr class="section-heading-spacer"> -->
                <div class="clearfix"></div>
                <h2 class="section-heading">Publications</h2>
                <p style="font-size: 18px;font-weight: 400;">
                    Shown below is a selection of some of my publications, including
                    journal articles. A more in-depth bibliography can
                    be found on 
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/06/ORCID_iD.svg/768px-ORCID_iD.svg.png" alt="drawing" width="20">
                    <a href="https://orcid.org/0000-0003-3902-052X">ORCID</a>.
                </p>
            </div>
        </div>
    </div>
    <!-- Publications content -->
    {% for post in site.posts reversed %}
      {% if post.category == 'publications' %}
        <div class="content-section-b">
            <div class="container">
                <div class="row">
                    <!-- <hr class="section-heading-spacer"> -->
                    <div class="clearfix"></div>
                    <!-- <h2 class="section-heading">{{ post.title }}</h2> -->
                    <div class="lead">{{ post.content }}</div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</section>
    