<p><br></p>  <!-- padding lol -->

<section id="programming">

  <!-- Projects header
       Header, plus description is contained in content-section-a
  -->

  <div class="content-section-a">
    <div class="container">
      <div class="row vertical-align">
        <div class="clearfix"></div>
        <div class="col-md-6">
          <h2 class="section-heading">Programming Projects</h2>
        </div>
        <div class="col-md-6">
          <p style="font-size: 18px;font-weight: 400;">
            Below is a selection of software projects I have
            worked on during my PhD or in my spare time. Most of these projects
            are for data analysis and visualisation of astrophysical data.
            However, there are also a few projects which I have done for fun.
          </p>
        </div>
        <div class="col-md-12 text-center">
          <br>
          All of my other public projects, including the source code for this
          website, can be found at
          <img src="../img/github.png" alt="drawing" width="28" />
          <a href="https://github.com/saultyevil">github.com/saultyevil</a>.
        </div>
      </div>
    </div>
  </div>

  <!-- Projects content
       The posts are posted here, in reverse order for some reason.
  -->

  {% for post in site.posts reversed %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
  {% if post.category == 'programming' %}
  {% if thecycle == 'odd' %}
  <div class="content-section-b">
    <div class="container">
      <div class="row align-top">
        <div class="clearfix"></div>
        <div class="col-md-6">
          <h1>{{ post.title }}</h1>
          <h3>{{ post.subTitle}}</h3>
          {{ post.description }}
          <!-- <img src="{{ post.img }}" style="max-width: 100%; height: auto;"> -->
        </div>
        <div class="col-md-6">
          <div class="lead" style="text-align: justify">{{ post.content }}</div>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="content-section-a">
    <div class="container">
      <div class="row align-top">
        <div class="clearfix"></div>
        <div class="col-md-6">
          <h1>{{ post.title }}</h1>
          <h3>{{ post.subTitle}}</h3>
          {{ post.description }}
          <!-- <img src="{{ post.img }}" style="max-width: 100%; height: auto;"> -->
        </div>
        <div class="col-md-6">
          <div class="lead" style="text-align: justify">{{ post.content }}</div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% endif %}
  {% endfor %}

</section>
