<!--
  Publications
-->

<section id="publications">

  <!--
    Header
  -->

  <div class="content-section-a">
    <div class="container">
      <div class="row vertical-align">
        <div class="clearfix"></div>
        <div class="col-md-6">
          <h2 class="section-heading">Publications</h2>
        </div>
        <div class="col-md-6">
          <p style="font-size: 18px;font-weight: 400;">
            Below are the abstracts for the articles where I am the first
            author.
          </p>
        </div>
        <div class="col-md-12 text-center">
          <br>
          A more in-depth bibliography, including works which
          I have been co-author on, can be found on my
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/06/ORCID_iD.svg/768px-ORCID_iD.svg.png" alt="drawing" width="20">
          <a href="https://orcid.org/0000-0003-3902-052X">ORCID</a>.
        </div>
      </div>
    </div>
  </div>

  <!--
    Content
  -->

  {% for post in site.posts reversed %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
  {% if post.category == 'publications' %}
  {% if thecycle == 'odd' %}
  <div class="content-section-a">
    <div class="container">
      <div class="row align-top">
        <div class="clearfix"></div>
        <div class="col-md-6">
          <h1>{{ post.title }}</h1>
          <h3>{{ post.subTitle}}</h3>
          {{ post.description }}
          <!-- <img src="{{ post.img }}" style="max-width: 100%; height: auto;"> -->
        </div>
        <div class="col-md-6">
          <div class="lead" style="text-align: justify">{{ post.content }}</div>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="content-section-b">
    <div class="container">
      <div class="row align-top">
        <div class="clearfix"></div>
        <div class="col-md-6">
          <h1>{{ post.title }}</h1>
          <h3>{{ post.subTitle}}</h3>
          {{ post.description }}
          <!-- <img src="{{ post.img }}" style="max-width: 100%; height: auto;"> -->
        </div>
        <div class="col-md-6">
          <div class="lead" style="text-align: justify">{{ post.content }}</div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% endif %}
  {% endfor %}


</section>

<!--
  Research proects, i.e. MPhys
 -->

<section id="research_projects">

  <!--
    Header
  -->

  <div class="content-section-b">
    <div class="container">
      <div class="row vertical-align">
        <div class="clearfix"></div>
        <div class="col-md-6">
          <h2 class="section-heading">Other projects</h2>
        </div>
        <div class="col-md-6">
          <p style="font-size: 18px;font-weight: 400;">
            Below are the abstracts for theses and disserations
            I have written as part of short research projects during
            my time at university.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!--
    Content
  -->


  {% for post in site.posts reversed %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
  {% if post.category == 'research_projects' %}
  {% if thecycle == 'odd' %}
  <div class="content-section-a">
    <div class="container">
      <div class="row align-top">
        <div class="clearfix"></div>
        <div class="col-md-6">
          <h1>{{ post.title }}</h1>
          <h3>{{ post.subTitle}}</h3>
          {{ post.description }}
          <!-- <img src="{{ post.img }}" style="max-width: 100%; height: auto;"> -->
        </div>
        <div class="col-md-6">
          <div class="lead" style="text-align: justify">{{ post.content }}</div>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="content-section-b">
    <div class="container">
      <div class="row align-top">
        <div class="clearfix"></div>
        <div class="col-md-6">
          <h1>{{ post.title }}</h1>
          <h3>{{ post.subTitle}}</h3>
          {{ post.description }}
          <!-- <img src="{{ post.img }}" style="max-width: 100%; height: auto;"> -->
        </div>
        <div class="col-md-6">
          <div class="lead" style="text-align: justify">{{ post.content }}</div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% endif %}
  {% endfor %}


</section>
